<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>4-8-动态组件与v-once指令</title>
	<script src="./vue.js"></script>
</head>
<body>
	
	<div id="root">
		<!-- 动态组件 根据is的变化，动态的加载不同的组件。-->
		<!-- <component :is="type"></component> -->
		<!-- 静态组件 -->
		<child-one v-if="type === 'child-one'"></child-one>
		<child-two v-if="type === 'child-two'"></child-two>
		<button @click="handleBtnClick">change</button>
	</div>

	<script>

		Vue.component('child-one',{
			template:  `<div v-once>
							Child-one
						</div>`
		}),
		Vue.component('child-two',{
			template:  `<div v-once>
							Child-two
						</div>`
		})

		var vm = new Vue({
			el: "#root",
			data: {
				type: 'child-one'
			},
			methods: {
				handleBtnClick: function(){
					this.type = this.type === 'child-one' ? 'child-two' : 'child-one';
				}
			}
		})
	</script>

</body>
</html>