 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>2-3-TodoList</title>
	<script src='./vue.js'></script>
</head>
<body>

<!-- 	MVVM 的操作 -->
	
	<div id="app1">	
		<!-- v-model 数据的双相绑定,绑定了app1 里的data的 inputValue的值。改变一个，都改变 -->
		<input type="text" v-model="inputValue"/>
			<!-- v-on 绑定事件 可以绑定点击click-->
		<button v-on:click="handleBtnClick">提交</button>
		<ul>
			<!-- v-for 是vue里的标签指令，循环数据。 list是data的list。item是循环之中每一项的内容-->
			<li v-for="item in list">{{item}}</li> 
		</ul>
	</div>

	<script type="text/javascript">
		
		var app1 = new Vue(
		{
			el: '#app1',
			data: 
			{
				list: [],
				inputValue:''
			},
			methods: 
			{
				handleBtnClick: function()
				{	
					this.list.push(this.inputValue)
					this.inputValue = ''
				}
			}

		})


	</script>


</body>
</html>