<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>2-6-组件化TodoList</title>
	<script src="./vue.js"></script>
</head>
<body>

	<div id="root">
		<div>
			<input type="text" v-model="todoValue"/>
			<button v-on:click="handleBtnClick">提交</button>
		</div>
		<ul>
<!-- 			<li v-for="item in list">
				{{item}}
			</li> -->
			<todo-item 	v-bind:content="item" 
						v-for="item in list">
			</todo-item>
		</ul>
	</div>
	
	<script type="text/javascript">

		// Vue提供的全局组件方法component, T 和 I大写，上面调用要用 - 连接，这是语法。
		// Vue.component("TodoItem" ,
		// {	
		// 	// props是指，从副组件中接收一部分内容。
		// 	props: ['content'],
		// 	// 组件里写一个模板，template
		// 	template: "<li>{{content}}</li>"
		// })
		
		var TodoItem = 
		{
			props: ['content'],
			template: "<li>{{content}}</li>"
		}

		var app = new Vue(
		{
			el: "#root",
			components: 
			{
				TodoItem: TodoItem
			},
			data: 
			{
				list: [],
				todoValue: ''
			},
			methods: 
			{
				handleBtnClick: function()
				{
					this.list.push(this.todoValue)
					this.todoValue = ''
				}
			}
		})

	</script>


</body>
</html>